<div class="navbar bg-dark text-white">
    <h3 class="title">Smart Energy</h3>
    <button class="btn btn-light" routerLink="" >Back</button>
  </div>

  <div class="container">
  <div class="col mt-2">
    <label for="descripcion" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name"
      formControlName="name">
  </div>
  <div class="col">
    <label for="ip" class="form-label">IP</label>
    <input type="text" class="form-control" id="ip" placeholder="Ip Address nodemcu"
      formControlName="ip">
  </div>

<button class="btn btn-dark btn-block mt-2">Add</button>
</div>




